<app-customer-navbar></app-customer-navbar>
<div class="flash-news-banner">
    <div class="container">
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <span class="badge badge-dark mr-3">Flash news</span>
                <span class="mb-0">
                    Hello, internet users. We have some good news to offer.
                </span>
            </div>
            <div class="d-flex">
                <span class="mr-3 text-danger">Wed, Jun 8, 2022</span>
                <span class="text-danger">30°C,Dhaka</span>
            </div>
        </div>
    </div>
</div>
<h1 class="title">Important News</h1>
<hr>
<br>
<ng-container *ngFor="let news of allNews">
    <div class="container card">
        <h2>{{news.heading}}</h2>
        <p>{{news.description}}</p>
    </div>
    <br>
</ng-container>
<!--NEWS DIV-->