<app-customer-navbar></app-customer-navbar>
<div class="flash-news-banner">
    <div class="container">
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <span class="badge badge-dark mr-3">Flash news</span>
                <p class="mb-0">
                    Hello, internet users. We have some good news to offer.
                </p>
            </div>
            <div class="d-flex">
                <span class="mr-3 text-danger">Wed, March 4, 2020</span>
                <span class="text-danger">30°C,London</span>
            </div>
        </div>
    </div>
</div>

<ng-container *ngFor="let news of allNews">
    <p>{{news.heading}}</p>
    <p>{{news.description}}</p>
    <p>{{news.operator_id}}</p>
    <p>{{news.timestamp}}</p>
</ng-container>
<!--NEWS DIV-->