<app-operator-navbar></app-operator-navbar>
<button class="btn chat btn-primary" (click)="chat()">Messeges</button>
<div class="complaint">
    <div class="container">
        <h1>File a complaint</h1>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" placeholder="Enter user name" [(ngModel)]="newTicket.customer_id" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" [(ngModel)]="newTicket.p_type" [ngModelOptions]="{standalone: true}">
            <option value="1">Low internet speed</option>
            <option value="2">No internet Connection</option>
            <option value="3">Change Internet Plan</option>
            <option value="4">Others</option>
          </select>
                    <label for="floatingSelectGrid">Complaining Regarding</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description of the complaint</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="newTicket.description" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-8">

            </div>
            <div class="div col-4">
                <button class="btn btn-primary" (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>