<footer class="footer-02">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-10 col-lg-6">
    <div class="subscribe mb-5">
    <form action="#" class="subscribe-form">
    <div class="form-group d-flex">
    <input type="text" class="form-control rounded-left" placeholder="Enter email address">
    <input type="submit" value="Subscribe" class="form-control submit px-3">
    </div>
    </form>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-4 col-lg-5">
    <div class="row">
    <div class="col-md-12 col-lg-8 mb-md-0 mb-4">
    <h2 class="footer-heading"><a href="#" class="logo">SCSI</a></h2>
    <p class="des">No. 1 internet service provider in Bangladesh</p>
    </div>
    </div>
    </div>
    <div class="col-md-8 col-lg-7">
    <div class="row">
    <div class="col-md-3 mb-md-0 mb-4 border-left">
    <h2 class="footer-heading">Discover</h2>
    <ul class="list-unstyled">
    <li><a href="#" class="py-1 d-block">Best Package</a></li>
    <li><a href="#" class="py-1 d-block">Corporate Line</a></li>
    <li><a href="#" class="py-1 d-block">Popular Package</a></li>
    <li><a href="#" class="py-1 d-block">Gaming Facilities.</a></li>
    </ul>
    </div>
    <div class="col-md-3 mb-md-0 mb-4 border-left">
    <h2 class="footer-heading">About</h2>
    <ul class="list-unstyled">
    <li><a href="#" class="py-1 d-block">Head Office</a></li>
    <li><a href="#" class="py-1 d-block">Coverage Area</a></li>
    <li><a href="#" class="py-1 d-block">Our Journey</a></li>
    <li><a href="#" class="py-1 d-block">Ratings</a></li>
    </ul>
    </div>
    <div class="col-md-3 mb-md-0 mb-4 border-left">
    <h2 class="footer-heading">Quick Links</h2>
    <ul class="list-unstyled">
    <li><a href="#" class="py-1 d-block">Offers</a></li>
    <li><a href="#" class="py-1 d-block">News</a></li>
    <li><a href="#" class="py-1 d-block">Dflix Live Tv</a></li>
    <li><a href="#" class="py-1 d-block">Dfilx Ftp Server</a></li>
    </ul>
    </div>
    <div class="col-md-3 mb-md-0 mb-4 border-left">
    <h2 class="footer-heading">Social</h2>
    <ul class="list-unstyled">
    <li><a href="#" class="py-1 d-block">Facebook</a></li>
    <li><a href="#" class="py-1 d-block">Twitter</a></li>
    <li><a href="#" class="py-1 d-block">Instagram</a></li>
    <li><a href="#" class="py-1 d-block">Googleplus</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
 
    <div class="row mt-5">
    <div class="col-md-6 col-lg-8">
    <p class="copyright">
    Copyright ©<script>document.write(new Date().getFullYear());</script>2022 All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a rel="" href="#" target="_blank">SCSI</a>
    </p>
    </div>
    <div class="col-md-6 col-lg-4 text-md-right">
    <p class="mb-0 list-unstyled">
    <a class="mr-md-3" href="#">Terms</a>&nbsp;
    <a class="mr-md-3" href="#">Privacy</a>&nbsp;
    <a class="mr-md-3" href="#">Compliances</a>
    </p>
    </div>
    </div>
    </div>
    </footer>