.packageList {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
 
}
.packagesshow{
    background-image: url(../../assets/live-home.svg);
    padding: 10px;
}
.packageList>* {
    box-sizing: border-box;
}

.packageList>*:not(:last-child) {
    margin-right: 32px;
}

.packageListItem {
    flex: 0 1 calc(33.3% - 32px);
}

mat-toolbar {
    justify-content: space-between;
}