<div class="packagesshow">
    <div class="packageList container" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px grid"
        fxLayoutAlign="flex-start">
        <ng-container *ngFor="let _ of [1,2,3]">
            <br>
            <div class="package">
                <div class="matha" align="center">
                    <br>
                    <h2><span id="pname"> Silver</span> </h2>
                </div>
                <div class="description" align="center">
                    <h1 style="color: #F5A810;">30MBPS</h1>
                    <ul type="none">
                        <li>High Availability</li>
                        <hr>
                        <li>FTTH Teachnology</li>
                        <hr>
                        <li>Unlimited Bandwidth</li>
                        <hr>
                        <li>24/7 Customer Service</li>
                        <hr>
                    </ul>
                </div>
                <div class="submit" align="center">
                    <button class="btn btn-primary">Get the package</button>
                </div>
            </div>
            <br>
        </ng-container>
    </div>
</div>