<app-operator-navbar></app-operator-navbar>
<div class="container" align="center">
    <button class="btn btn-primary" (click)="addNewNews()">Add new news</button>
</div>
<div class="container">

<ng-container *ngFor="let news of allNews">

    <p class="news">{{news.heading}} <span class="timestamp">{{news.timestamp}}</span><br><hr>{{news.description}}<br> </p>

    <!-- <p>{{news.description}}</p>
        <p>{{news.description}}</p>
        <p>{{news.timestamp}}</p> -->
    

</ng-container>

