<br>
<div class="package">
    <div class="matha" align="center">
        <br>
       <h2><span id="pname"> Silver</span> </h2>
    </div>
    <div class="description" align="center">
      <h1 style="color: #F5A810;">30MBPS</h1>
     <ul type="none">
         <li>High Availability</li><hr>
         <li>FTTH Teachnology</li><hr>
         <li>Unlimited Bandwidth</li><hr>
         <li>24/7 Customer Service</li><hr>
     </ul>
    </div>
    <div class="submit" align="center">
      <button class="btn btn-primary">Get the package</button>
    </div>
</div>
<br>

<!--
<div class="container">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Package</mat-card-title>
        </mat-card-header>
        <img alt="" mat-card-image src="./../assets/images.jpeg">
        <mat-card-content>
        </mat-card-content>
        <p>Price</p>
        <p>speed</p>
        <mat-card-actions>
            <button mat-button class="btn btn-primary">Select</button>
        </mat-card-actions>
    </mat-card>
</div>
-->