<div class="package">
    <div class="header">
       <img src="../../assets/wifi.png" alt="" height="50px" width="50px">
       <h2><span id="pname"> Silver</span> </h2>
    </div>
    <div class="description">
      <h1 style="color: #F5A810;">30MBPS</h1>
     <ul>
         <li>High Availability</li>
         <li>FTTH Teachnology</li>
         <li>Unlimited Bandwidth</li>
         <li>24/7 Customer Service</li>
     </ul>
    </div>
    <div class="submit">
      <button class="btn btn-primary">Get the package</button>
    </div>
</div>


<!--
<div class="container">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Package</mat-card-title>
        </mat-card-header>
        <img alt="" mat-card-image src="./../assets/images.jpeg">
        <mat-card-content>
        </mat-card-content>
        <p>Price</p>
        <p>speed</p>
        <mat-card-actions>
            <button mat-button class="btn btn-primary">Select</button>
        </mat-card-actions>
    </mat-card>
</div>
-->