<div class="row allnavitems">

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: hsla(206, 84%, 35%, 0.5);">
    <div class="col-1">

    </div>
    <div class="col-2">
    <a class="navbar-brand" href="#">Smart Customer Care Solution</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  <div class="col-2">

  </div>
    <div class="collapse navbar-collapse col-6" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home" (click)="clickHome()">Home</a>
            </li>
            &nbsp;
            &nbsp;
            <li class="nav-item">
                <a class="nav-link" routerLink="packages" (click)="clickPackages()">Packages</a>
            </li>
            &nbsp;
            &nbsp;
            <li class="nav-item">
                <a class="nav-link" routerLink="news" (click)="clickNews()">News</a>
            </li>
            &nbsp;
            &nbsp;
            <li class="nav-item">
                <a class="nav-link" routerLink="complaint" (click)="clickComplaint()">Complaint</a>
            </li>
            &nbsp;
            &nbsp;
            <li class="nav-item">
                <a class="nav-link" routerLink="account" (click)="clickAccount()">Account</a>
            </li>
        </ul>
    </div>
    <div class="col-1">
        
    </div>
</nav>
</div>